<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22384210301-s35fdma3i2r23h7pim5va5ps0mk9hna9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22384210301-s35fdma3i2r23h7pim5va5ps0mk9hna9</string>
	<key>API_KEY</key>
	<string>AIzaSyDCQTx2xHFHazWgD7gPXgiGawhmcB9Gaoc</string>
	<key>GCM_SENDER_ID</key>
	<string>22384210301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.strategicinformationservices.Overload</string>
	<key>PROJECT_ID</key>
	<string>heavier-9266d</string>
	<key>STORAGE_BUCKET</key>
	<string>heavier-9266d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:22384210301:ios:e45df5f13e7c2a07925c14</string>
</dict>
</plist>
