<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParameterVocabularies</key>
	<array>
		<dict>
			<key>ParameterNames</key>
			<array>
				<string>INRecordLiftIntent.exercise</string>
			</array>
			<key>ParameterVocabulary</key>
			<array>
				<dict>
					<key>VocabularyItemIdentifier</key>
					<string>record</string>
					<key>VocabularyItemSynonyms</key>
					<array>
						<dict>
							<key>VocabularyItemExamples</key>
							<array>
								<string>record a lift with heavier</string>
								<string>do a lift with heavier</string>
								<string>log a lift with heavier</string>
								<string>record with heavier</string>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INRecordLiftIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>record 3 sets of 10 at 135 pounds, deadlift</string>
				<string>record 3 sets of 15 at 185 pounds, bench press</string>
				<string>135 pounds, 3 sets of 10, bench press</string>
				<string>log 135 pounds, 3 sets of 10, deadlift</string>
				<string>I did 3 sets of 10, 135 pounds, deadlift</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
